body{
    padding-left: 1em;
    font-family: sans-serif;
}

main{
    padding-left: 1em;
}

h1{
    color: #4caf50;
    text-shadow: 2px 2px 5px #81c784;
}

h2 {
    color: #00bcd4;
}

a{
    color: #0288D1;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
